<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
rel="stylesheet">
  <link rel = "stylesheet" href = "/style.css">
  <title></title>
</head>
<body>
  
  <div class = "header-sec">
    <img src =
    "https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Facebook_logo_%282023%29.svg/2560px-Facebook_logo_%282023%29.svg.png"
    width = "150px">
  </div>
  
  <div class = "create-post-page">
    <form method = "post" action = "/posts">
      <input type = "text" name = "name" placeholder="Please enter your name" id
      = "user-name-input" required>
      <textarea cols = "30" rows="5" placeholder="Your caption" name =
      "postCaption" id = "caption-input" required=""></textarea>
      <input type="text" name = "postImage" placeholder="Paste your image link here" id = "user-image-input">
      <button class = "post-button">
        Post
      </button>
    </form>
  </div>
  
  <div class = "footer">
    All copyright reserved MAGVYER©2024
  </div>
</body>
</html>




